* {
    border-style: border-box;
    padding: 0;
    margin: 0;
}

highScore {
 display: none
}

#restart {
    display: none
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  